
    <template name="Labheader">
        <h1 class="text-center top100">Children Parents laboratory</h1>
    </template>


    <template name="Lab">
        <!-- The intention -->


        <div class="context-children" style="height: 430px">
            <div class="container">
                <div class="row top30 bottom400">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        {{> Labheader}}

                        <h5 class="text-center top20">A research center for pioneers, transitioners & activists in a 20ha valley in south of Portugal, a safe place for inner and outer transformation, a bridge between urban jungle and realignment with natural cicles.</h5>
                    </div>
                </div>
                <!-- row -->
            </div>
        </div>


        <div class="dotline">
        </div>


        <div class="container">
            <div class="top30 bottom30">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="top30">Intention</h3>


                        <p class="">Workshops, Lectures, Gatherings focus on contact, awareness and communication. The integrative space for guests, children and students that want to get in touch with the project and their ability to create and see a new sustainable reality in the everyday life. Energy, ecology, music, communication, alimentation .. We create a learning by doing environment, where we encourage a non-hierarchic and open-source structure that allows access to the process and its documentation. We want to establish a strong feedback culture, that supports the exchange of knowledge and the optimization of a working process through truthful response.</p>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="top30">Spaceholder</h3>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="top30">Labmakers</h3>
                    </div>


                    <div class="col-sm-2">
                        <img class="w100 img-responsive img-thumbnail-circle img-thumbnail" src="images/samara.jpg">

                        <h4 class="top10 text-center">Samara</h4>
                    </div>
                    <div class="col-sm-2">
                        <img class="w100 img-responsive img-thumbnail-circle img-thumbnail" src="images/teresa.jpg">

                        <h4 class="top10 text-center">Teresa</h4>
                    </div>

                    <div class="col-sm-2">
                        <img class="w100 img-responsive img-thumbnail-circle img-thumbnail" src="images/julia.jpg">

                        <h4 class="top10 text-center">Saphira</h4>
                    </div>
                </div>
                <!-- row -->
            </div>
        </div>


        <div class="dotline">
        </div>


        <div class="container">

            <div class="col-sm-12">
                <h3 class="top30 bottom10">Supporter</h3>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/julia.jpg">

                    <h6 class="top10 text-center">Zafira</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/samara.jpg">

                    <h6 class="top10 text-center">Teresa</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/mattia.jpg">

                    <h6 class="top10 text-center">Luna</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Zafira</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Teresa</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Zafira</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Teresa</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Luna</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Zafira</h6>
                </div>


                <div class="inline">
                    <img class="img-responsive img-thumbnail-circle-small img-thumbnail" src="images/user.svg">

                    <h6 class="top10 text-center">Teresa</h6>
                </div>
            </div>
        </div>
      <div class="dotline top30">
        </div>
        <div class="container top30 bottom30">
            <div class="col-sm-6">
            <div class="col-sm-12 top10"><img class="w100 img-responsive" src="images/children.jpg">
            </div>
            <div class="col-sm-6 top10"><img class="w100 img-responsive" src="images/children1.jpg">
            </div>
            <div class="col-sm-6 top10"><img class="w100 img-responsive" src="images/conscoius.jpg">
            </div>
            </div>
            <div class="col-sm-6 top10"><img class="w100 img-responsive" src="images/children4.jpg">
            </div>
        </div>
        <div class="dotline top30">
        </div>
        <div class="container top30 bottom30">
            <div class="col-sm-6">
                <div class="freebox">
                    <h2 class="bottom10">Prepared enviroment</h2>
                    <p class="">The property belongs to a non-profit organisation and it will never again be used as a space for speculation or natural exploitation. It is 20 minutes far from the ocean and near other interesting international projects. It can host 20-40 people and have a variety of shapes and microzones.</p>
                </div>
                <div class="freebox">
                    <h2 class="bottom10">Presence</h2>
                    <p class="">We are not alone. Here in Portugal and all over the world we are already connected with projects with similar intentions. We want to contribute to create a healthy economy based on a sensible way of sharing resources and knowledge. If you want to join as a Project Partner feel free to contact us!</p>
                </div>
                <div class="freebox">
                    <h2 class="bottom10">Rutuals</h2>
                    <p class="">We are welcoming designers, researchers, facilitators and artists to open shortterm and longterm laboratories as modules for a sustainable living model. It’s a coworking space a living landscape and harbor for nomadic change-makers.</p>
                </div>
            </div>
            <div class="col-sm-6 top10"><img class="w100 img-responsive" src="images/lab.png">
            </div>
        </div>
        <div class="dotline">
        </div>
    <div class="container">     
                    <div class="row top17">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h3 class="text-center top17">Next steps</h3>
                    </div>
                </div> 
    <section id="cd-timeline">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            
            <div class="cd-timeline-content">
                <h2>Reshape the landscape</h2>
                 <div style="display: flex">
                     <h6 style="flex: 0 0 30%">12-29 October</h6>
                     <h6 class="text-right" style="flex: 1">2Labmaker/ 8 Guest/ 4 Supporter</h6>
                 </div>
                 <div class="dotline bottom10">
                 </div>
                <p>We are realizing on a 1h land a prepared landscape for children and parents where adventure and safety, wildness and awarness are not ...</p>
                <!--
                <h6 class="cd-date">8 March - 25 March</h6>
                -->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Mindfulness Retreat for adults and children </h2>
                        <div style="display: flex">
                            <h6 style="flex: 0 0 30%">12-29 October</h6>
                            <h6 class="text-right" style="flex: 1">2Labmaker/ 8 Guest/ 4 Supporter</h6>
                        </div>
                 <div class="dotline bottom10">
                 </div>
                <p>The retreat is a laboratory space, where all participants explore joyfully the challenge to create a living together that really serves our intention of mutual respect, empathy and love. We invited about 15 adults and 6 children between 0 and 6 years.</p>
                <!--
                <h6 class="cd-date">26 April - 8 May</h6>
                -->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            
            <div class="cd-timeline-content">
                <h2>Paintroom</h2>
                 <div style="display: flex">
                     <h6 style="flex: 0 0 30%">12-29 October</h6>
                     <h6 class="text-right" style="flex: 1">2Labmaker/ 8 Guest/ 4 Supporter</h6>
                 </div>
                 <div class="dotline bottom10">
                 </div>
                <p>We are realizing on a 1h land a prepared landscape for children and parents where adventure and safety, wildness and awarness are not ...</p>
                <!--
                <h6 class="cd-date">8 March - 25 March</h6>
                -->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

    </section>
</div> 

        <!-- Page title -->


        <div class="context-children">
            <div class="container">
                <div class="row top17">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h1 class="text-center top30">Cocreate!</h1>
                    </div>
                </div>
                <!-- row -->


                <div>
                    <!-- Page illustration -->

                    <div class="top17 bottom50">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>


                            <div class="col-sm-6 text-center">
                                <p>There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy to detach from our personal history and habits and to open ourselves towards the global community. You are invited to support us in offereing workshops, resources or just your presence!</p>
                                <a class="btn btn-primary btn-lg" href="mailto:children/parents@permalab.eu">Support us!</a> <!-- row -->
                            </div>


                            <div class="col-sm-3">
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- row -->
                </div>
            </div>
        </div>
        <!--
<div class="dotline">
</div>
            <div class="container top30">        
                <div class="bs-docs-section">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-lg-6">
                            <div class="well bs-component">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <h2 class="text-center">
                                            Leave some feedback 
                                        </h2>
                                        <p class="text-center bottom30 top10">
                                            We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
                                            Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                        </p>
                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <textarea class="form-control" rows="3" id="textArea"></textarea>
                                                <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <button class="btn btn-default">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            </div>
            -->


        <div class="dotline">
        </div>
    </template>