<template name="Model">
    <!-- The intention -->
    <div class="context-intention">
        <div class="container">
            <div class="row top30 bottom50">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    Feel invited to implement moduls for a new culture!
                </h1>                    
                    <h5 class="text-center top20">
                        Inspired by nature and people from all over the world, we want to co create new peacefull and sustainable models for co living.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom50">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/labora.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-6">
                <p>
                   There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy for detaching from our personal history and habits and opening towards a self-responsible life. From privatisation to communal space, form power monopolies to shared leadership, from family to tribe, from commercial to gift-relations, from exclusivity to inclusion. 
                </p>
                <p class="top10">
                   Designing a new reality from scratch is the process of rediscovering our deepest desires and potentials.
                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
                <div class="dotline"> 
            </div>


    <!-- Small containers -->
    <div class="container top30">
        <div class="row bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    Holistic design facilitation
                </h1>
                    <h5 class="text-center top20">
                        If you wont to realize short or longterm laboratories, workshops and events here are some guidelines and examples for it!
                    </h5>                
            </div>
        </div>    
    </div>

     <!-- Slider -->
    <div class="container top30 bottom70 hidden-xs">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
     <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Focus on connections</h2>
                  <p class="bottom15">
                A lab is the design of interconnections between Nature, Infrastructures and Human beings. It is reinforcing the web that connect existing laboratories and the human nature relations. 
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>        
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Partecipative</h2>
                  <p class="bottom15">
                    The lab is designed to encourages people to become active participants in the design process, embracing ideas of conviviality and exchange to foster social accountability and enhance communities.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-4 col-md-4">
                  <h2 class="bottom15">Glocal orinted</h2>
                  <p class="bottom15">
                   True the design of spaces and experiences we mainly express our personal needs as a reflection and feedback to life and society. Lets act locally and design globaly!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Sensitive</h2>
                  <p class="bottom15">
                We wish to build spaces that communicate a sensitive awareness, for consumption, the intelligent use of local material, a supportive integration in nature.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Evolutive</h2>
                  <p class="bottom15">
                    We recognize that richer experiences can emerge from the dynamic maturation of artifacts and environments over time. Looking beyond the needs and circumstances of the present day, the processes and outcomes become agents of both preservation and transformation.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>    
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
        <div class="dotline">
        </div>
    <!-- Network collective -->
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        The first labs proposels
                    </h1>
                    <h5 class="text-center top20">
                        The main work of the Labmaker is to integrate the lab in the hole project and finding the channel to share the gifts and awareness that are emerging out of it.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70 top15">
                    <div class="row">                      
                        <div class="col-sm-6">
                            <img src="images/gallery-single.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/gallery-single.png" class="w100 img-responsive">
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>        
    <!-- Small containers -->
    <div class="container top30 bottom70">
        <div class="row bottom70">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    Maps for a new culture
                </h1>
                    <h5 class="text-center top20">
                        Here some maps that emerge from tools and experiences from all over the word as an overwiew of how to became more oware and authentic.
                    </h5>   
            </div>
        </div>
        <div class="col-sm-6">
            <div class="activebox">
                 <h2 class="bottom10">
                    Inner landscapes
                </h2>
                <p class="">
                    The land belongs to a non-profit organisation and it will never again be used as a space for speculation or natural exploitation. It is 20 minutes from the ocean and near other interesting international projects. It can host 20-50 people and have a variety of shapes and microzones. 
               </p>
            </div>
            <div class="activebox">
                 <h2 class="bottom10">
                    Outer landscapes
                </h2>
                <p class="">
                    We are not alone. Here in Portugal we found many projects with similar intentions. We want to contribute to create a healthy economy based on a sensible way of sharing resources and knowledge. If you want to join as a Project Partner feel free to contact us!
               </p>
            </div>            
        </div>
        <div class="col-sm-6">
            <img src="images/gallery.png" class="w100 img-responsive">
        </div>              
    </div> 
        <div class="dotline">
        </div>
            <!-- Page title -->
    <!-- Network collective -->
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        Became a labmaker
                    </h1>
                    <h5 class="text-center top20">
                        The main work of the Labmaker is to integrate the lab in the hole project and finding the channel to share the gifts and awareness that are emerging out of it.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70 top15">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>                        
                        <div class="col-sm-3">
                            <img src="images/user.svg" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-7">
                            <p class="">
                                <p class="top20">           
                                    Every one can present, plan, realize and being responsible for spaces and laboratories on the Land.
                                    We wish to build exemplary spaces that inspire and support the vision of a global transition in sustainability, awareness & beauty. We want to study the relation between(to) the space that we use, need and occupy and bringing a clear intention into it!
                                </p>
                                <h4>If you want to be part of it</h4>
                                <p class="">
                                    join the plattform and soon we will invite you to meet us in real life!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
        <div class="dotline">
        </div>

            <!-- Forms
                ================================================== -->
        <div class="container top30">        
            <div class="bs-docs-section">
                <div class="row">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6">
                        <div class="well bs-component">
                            <form class="form-horizontal">
                                <fieldset>
                                    <h2 class="text-center">
                                        Leave some feedback 
                                    </h2>
                                    <p class="text-center bottom30 top10">
                                        We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                    </p>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                                            <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
    </div>
    <div class="dotline"></div>
</template>