<template name="Model">
    <!-- The intention -->
    <div class="context-intention">
        <div class="container">
            <div class="row top30 bottom50">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    A social, natural and economical playground in cyclic evolution.
                </h1>                    
                    <h5 class="text-center top20">
                        Inspired by nature and the ideas and inspiration of everyone wants to co create , we want to develope new peacefull models of co living.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom50">
                    <div class="row">
                        <div class="col-sm-7">
                            <img src="images/labora.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-5">
                <p>
                   There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy for detaching from our personal history and habits and opening towards a self-responsible life. From privatisation to communal space, form power monopolies to shared leadership, from family to tribe, from commercial to gift-relations, from exclusivity to inclusion. 
                </p>
                <p class="top10">
                   Designing our reality from scratch wis the process of rediscovering our deepest desires and potentials.Designing our reality from scratch will be a process of rediscovering our deepest desires and potentials.
                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
                <div class="dotline"> 
            </div>


    <!-- Small containers -->
    <div class="container top30">
        <div class="row bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    The main Tenets!
                </h1>
                    <h5 class="text-center top20">
                        Reseraching & integrating new solutions for inner and outer landscapes in everyday communitarian life! 
                    </h5>                
            </div>
        </div>    
    </div>

     <!-- Slider -->
    <div class="container top30 bottom70 hidden-xs">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
     <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Opensurce & inclusiv</h2>
                  <p class="bottom15">
                    If we want to leave old habits, beliefs and behaviors behind us, we consciously need to establish new patterns,structures and methods. The model, that we propose here, is just a beginning of searching and exploring new solutions. We are really glad about constructive feedbacks! We are not following dogmas, therefore open for questioning the status quo and experimenting new ways into the answers.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>        
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Growing in a tribe</h2>
                  <p class="bottom15">
                    We consider the respectful and nonviolent accompaniment of children as one of the major cultural tasks of our time. We want to create a social environment that extend, complement or even dissolve the space of the nuclear family and create a space that allows adult and children to inspire and support each others!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-4 col-md-4">
                  <h2 class="bottom15">Inner research</h2>
                  <p class="bottom15">
                   The core research field of the project is focus on the questions: What kind of social and natural surrounding do an individual need to evolve in his/her full potential? What kind of frequency and language do we need to relate truthfully with each others and ourself? What makes communities authentic & resilient?
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Free flow</h2>
                  <p class="bottom15">
                    We see gift economy as an act of becoming aware about our ability to give and receive and the recollocation of our values into the metology of exchanging resources and energy.
                    We ask for your support and creativity to find new ways of co creating and share what we love and need in beaing transparent and aware about the abbundance in and around us!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3 col-md-offset-2">
                  <img src="images/test-ohnerand.png" class="w100">
                </div>
                <div class="col-sm-8 col-md-4">
                  <h2 class="bottom15">Nature care</h2>
                  <p class="bottom15">
                    By regenerating the soil, developing sustainable watercycle systems and preserving natural regeneration cycles we create the base to develope a stable, selfregulated biotop as the manifestation of what we want to see in the world!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>    
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
        <div class="dotline">
        </div>
    <!-- Network collective -->
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        Radical self responsable
                    </h1>
                    <h5 class="text-center top20">
                        We are all leader of our life and responsable for our thoughts, words and actions!
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/circle.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <p class="">
                                <p class="">
                                There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy for detaching from our personal history and habits and opening towords a self-responsible life. From privatisation to communal space, form power monopolies to shared leadership, from family to tribe, from commercial to gift-relations. Designing our reality from scratch will be a process of rediscovering our deepest desires and potentials.
                                </p >
                                <h4>If you want to be part of it</h4>
                                <p class="">
                                    join the plattform and soon we will invite you to meet us in real life!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
        <div class="dotline">
        </div>
    <!-- Small containers -->
    <div class="container top30 bottom70">
        <div class="row bottom70">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    The space   
                </h1>
                <p class="text-center top20">           
                    Every one can present, plan, realize and being responsible for Spaces and Laboratories on the Land.
                    We wish to build exemplary spaces that inspire and support the vision of a global transition in sustainability, awareness & beauty. We want to study the relation between(to) the space that we use, need and occupy and .
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="activebox">
                 <h2 class="bottom10">
                    The nature
                </h2>
                <p class="">
                    The land belongs to a non-profit organisation and it will never again be used as a space for speculation or natural exploitation. It is 20 minutes from the ocean and near other interesting international projects. It can host 20-50 people and have a variety of shapes and microzones. 
               </p>
            </div>
            <div class="activebox">
                 <h2 class="bottom10">
                    The infrastructure
                </h2>
                <p class="">
                    We are not alone. Here in Portugal we found many projects with similar intentions. We want to contribute to create a healthy economy based on a sensible way of sharing resources and knowledge. If you want to join as a Project Partner feel free to contact us!
               </p>
            </div>            
        </div>
        <div class="col-sm-6">
            <img src="images/mapland.png" class="w100 img-responsive">
        </div>              
    </div> 
        <div class="dotline">
        </div>
            <!-- Page title -->
    <div class="context-manifest">      
        <div class="container">
            <div class="row top17 bottom30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center top30">
                        Our tenets and research fields!
                    </h1>
                    <h5 class="text-center top20">
                        Global change is inner change     
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="top30 bottom70 ">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/manifest.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <p class="">
                                To design and live an extraordinary life in contact with ourself and nature we have to take care of our inner landscape in the same way like we do with the outer. Learning how to relate authentically with ourself and others is the base for letting go old patterns and install the seeds for a new culture!
                                For this we create this mutual manifest as a common map of study fields and as a platform of exchange between everyone interested in it! It is also a guideline for the creation of activities on the land and the facilitation model!         
                            </p >
                                <h4>You are welcome to live a feedback!  </h4>
                                <a href="{{pathFor '/manifest'}}" class="btn btn-primary btn-lg">Read more</a>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
        <div class="dotline">
        </div>

            <!-- Forms
                ================================================== -->
        <div class="container top30">        
            <div class="bs-docs-section">
                <div class="row">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6">
                        <div class="well bs-component">
                            <form class="form-horizontal">
                                <fieldset>
                                    <h2 class="text-center">
                                        Leave some feedback 
                                    </h2>
                                    <p class="text-center bottom30 top10">
                                        We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                    </p>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                                            <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
    </div>
    <div class="dotline"></div>
</template>