<template name="Model2">
<!-- Network collective -->
<div class="context-services">		
	<div class="container">
		<div class="row top17 bottom30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h1 class="text-center top30">
					What we provide and support
				</h1>
				<h5 class="text-center top20">
					Converge our abilities for change!		
				</h5>
			</div>
		</div>
		<!-- row -->
		<div>
			<!-- Page illustration -->	
			<div class="top30 bottom50">
				<div class="row">
						<div class="col-sm-1">
						</div>
					<div class="col-sm-5">
						<img src="images/test00.png" class="w100 img-responsive">
					</div>
					<div class="col-sm-2">
						</div>
					<div class="col-sm-4">
						<p class="">
							We are a group of social pioneers dedicated to creating and becoming the change that facilitates personal, social and global breakthroughs. We believe that, in order to move beyond the man made ecological and social crisis, a radical shift in thinking and living needs to take place – starting from ourselves and permeating society.
							<h4>If you want be part of it</h4>
							<p class="">
								join the plattform and feel you invited to meet us in real life!
							</p >
							<a href="#" class="btn btn-primary btn-lg">Login</a>
							<small>- or -</small>
							<a href="#" class="btn btn-primary btn-lg">Signup</a>
							<div><small> -Your private data will only be visibile from logged users!</small>
								</div>
								</p>
						<!-- row -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- row -->
			</div>		
		</div>
		</div>
			<div class="dotline">
	</div>
	<div class="container">
		<div class="row bottom30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h2 class="text-center top30">
					Interdisciplinarity for change	
				</h2>
				<h5 class="text-center top20">
					Holistic design & facilitation	
				</h5>
			</div>
		</div>
		<!-- row -->
		<div class="top30 bottom70">
		<div class="col-sm-9">
			<div class="col-sm-4">
				<a href="#">
					<img src="images/julia.jpg" class="w100 img-responsive img-thumbnail">
					<h6 class="text-center bottom17">Communication</h6>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#">
					<img src="images/julia.jpg" class="w100 img-responsive img-thumbnail">
					<h6 class="text-center bottom17">Facilitation</h6>
				</a>
			</div>
		</div>
		<div class="col-lg-3">	
					<div class="bs-component">
						<h3>Activ in</h3>
						<div class="list-group">
							<a href="#" class="list-group-item active context-collective">
							Szenario design <span class="badge">3</span>
							</a>
							<a href="#" class="list-group-item">Experience Design
								<span class="badge">20</span>
							</a>
							<a href="#" class="list-group-item">Soft Architecture
								<span class="badge">3</span>
							</a>
							<a href="#" class="list-group-item">Permaculture Design
								<span class="badge">10</span>
							</a>
							<a href="#" class="list-group-item">Solar/Eco Low-Tec
								<span class="badge">2</span>
							</a>
							<a href="#" class="list-group-item">Education
								<span class="badge">5</span>
							</a>
						</div>
					</div>
		</div>		
		<!-- row -->
		</div>	
	</div>		
	<div class="dotline">
	</div>
		<!-- Forms
			================================================== -->
	<div class="container ">		
		<div class="bs-docs-section">
			<div class="row">
			<div class="col-sm-3">
			</div>
				<div class="col-lg-6">
					<div class="well bs-component">
						<form class="form-horizontal">
							<fieldset>
								<h2 class="text-center">
									Live a feedback	
								</h2>
								<p class="text-center bottom30 top10">
									We want to establish a strong feedback culture, that supports the exchange of knowledge and the optimization of a working process through truthful response.
Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.		
								</p>
								<div class="form-group">
									<div>
										<input type="text" class="form-control" id="inputEmail" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<div>
									</div>
								</div>
								<div class="form-group">
									<div>
										<textarea class="form-control" rows="3" id="textArea"></textarea>
										<span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<button class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="col-sm-3">
			</div>
			</div>
		</div>
	</div>
	<div class="dotline">
	</div>	
</template>