<template name="Model">
    <!-- The intention -->
    <div class="context-intention">
        <div class="container">
            <div class="row top30 bottom50">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    A model in evolution
                </h1>                    
                    <h5 class="text-center top20">
                        Experiment of inner and outer, global and local transformation.
                    </h5>
                </div>
            </div>
            <!-- row -->
                <div class="bottom70 top15">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>                        
                        <div class="col-sm-3">
                            <img src="images/user.svg" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-7">
                            <p class="">
                                <p class="top20">           
                                    Our Model is based on learning again the eternal teaching of Nature. Following its cycles we get again the ancient knowledge of how to compose the eternal symphony of the universe by integrating and supporting diversity. Stimulating the interdependency of laboratories we create a model for the free expression of non egoic needs,  in order to allow the manifestation of the inseparability between human presence and Glocal healing.
                                </p>
                                <h4>If you want to know more</h4>
                                <p class="">
                                    join the plattform and soon we will invite you to meet us in real life!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>                
            </div>
            </div>
                <div class="dotline"> 
            </div>
    <!-- Pictures long -->
    <div class="">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        The first labs
                    </h1>
                    <h5 class="text-center top20">
                        The main work of the Labmaker is to integrate the lab in the whole project, sharing the arising gifts and awareness to reinforce the connections with other labs.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70 top15">
                    <div class="row">                      
                        <div class="col-sm-3">
                            <a href="#" class="childrenLightbox">
                                <img src="images/children.jpg" class="w100 img-responsive">
                                <div class="minibox">
                                    <h4>
                                       Children Lab
                                    </h4>
                                    <p class="text-center">
                                         Presence connection instead of education! 
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="spaceLightbox">
                                <img src="images/space.jpg" class="w100 img-responsive">
                                <div class="minibox">
                                    <h4>
                                       Space Lab
                                    </h4>
                                    <p class="text-center">
                                         Soft, sustainable, sensible and accessible architecture!
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                         <a href="#" class="consciousLightbox">
                            <img src="images/conscoius.jpg" class="w100 img-responsive">
                            <div class="minibox">
                                <h4>
                                   Conscious Lab
                                </h4>
                                <p class="text-center">
                                     Trainings to self respons-ability towards our feeling and needs!
                                </p>
                            </div>  
                         </a>                              
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="cultureLightbox">
                            <img src="images/culture.jpg" class="w100 img-responsive">
                            <div class="minibox">
                                <h4>
                                   Culture Lab
                                </h4>
                                <p class="text-center">
                                     Water, seeds, soil and sucession cooperation culture with nature! 
                                </p>
                            </div> 
                             </a>                                                        
                        </div> 
                        <div class="col-sm-3">
                            <img src="images/autarchy.jpg" class="w100 img-responsive">
                            <div class="minibox">
                                <h4>
                                   Autarchy Lab
                                </h4>
                                <p class="text-center">
                                     Food, products, selfmade solutions for conscius consumption!
                                </p>
                            </div>                            
                        </div>                                                
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>  
    <!-- Network collective -->
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        Become a labmaker
                    </h1>
                    <h5 class="text-center top20">
                        The main work of the Labmaker is to integrate the lab in the whole project, finding the channel to share the gifts and awareness that are emerging out of it.
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70 top15">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>                        
                        <div class="col-sm-3">
                            <img src="images/user.svg" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-7">
                            <p class="">
                                <p class="top20">           
                                    Every one can present, plan, realize and being responsible for spaces and laboratories on the Land.
                                    We wish to build exemplary spaces that inspire and support the vision of a global transition in sustainability, awareness & beauty. We want to study the relation between(to) the space that we use, need and occupy, bringing a clear intention into it!
                                </p>
                                <h4>If you want to be part of it</h4>
                                <p class="">
                                    join the plattform and soon we will invite you to meet us in real life!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>      
    <!-- Small containers -->
        <div class="dotline">
        </div>
            <!-- Page title -->
            <!-- Forms
                ================================================== -->
        <div class="container top30">        
            <div class="bs-docs-section">
                <div class="row">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6">
                        <div class="well bs-component">
                            <form class="form-horizontal">
                                <fieldset>
                                    <h2 class="text-center">
                                        Leave some feedback 
                                    </h2>
                                    <p class="text-center bottom30 top10">
                                        We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                    </p>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                                            <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
    </div>
    <div class="dotline"></div>
</template>
<template name="closeLightbox">
                 <a href="#" class="btn btn-primary btn-lg closeLightbox">Back to model</a>
</template>
