<template name="childrenLightbox">
     <div class="container top100">
            <div class=" bottom50">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="top100">
                	<img src="images/children.jpg" class="w100 img-responsive">
                </div>	
                	                                                
                <h2 class="text-center top30">
Children Lab
                </h2>                    
                    <h5 class="text-center top20">
                    Conscious children and adult space: 
					Presence connection instead of education 
                    </h5>
                   <p>
                                          We are going to create a children and adult space where we (at first) want to explore  questions:
	•	
	•	How can we create a living together with children and parents that is characterized by respect, empathy, perception and authentic joy? 
	•	How can we change from educating children into raising/growing together. Which abilities and consciousness do we need as adults to make this paradigm shift out of the culture of domination into a culture of partnership?
	•	How can we create a tribal structure support a stable and secure vassel for children and their parents? 
	•	 
To dive into these questions we will create different labs in the next year.	
                   We consider the respectful and nonviolent accompaniment of children as one of the major cultural tasks of our time. We want to create a social environment that extend, complement or even dissolve the space of the nuclear family and create a space that allows adult and children to inspire and support each others!
                   <div class="text-center">
                               	{{> closeLightbox}}
                   </div>            	
                   </p> 
                </div>
            </div>
    </div>        
</template>