<template name="cultureLightbox">
     <div class="container">
            <div class="row top30 bottom50">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    A model in evolution
                </h1>                    
                    <h5 class="text-center top20">
                        Experiment of inner and outer, global and local transformation.
                    </h5>
                   <p>
                    By regenerating the soil, developing sustainable watercycle systems and preserving natural regeneration cycles we create the base to develope a stable, selfregulated biotop as the manifestation of what we want to see in the world!
                   </p> 
                </div>
            </div>
            {{> closeLightbox}}
    </div>        
</template>