<template name="Timeline">
            <div class="row top30 bottom15">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center top10">
                        Last impressions
                    </h1>                    
                    <h5 class="text-center top20">
                        The first steps!
                    </h5>
                </div>
            </div>      
    <div class="">
        <div class="context-intention js-timeline">
        </div>
    </div>  
    <div class="dotline">
    </div> 
	<div class="context-collective">
    <div class="container">      
    <section id="cd-timeline">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            
            <div class="cd-timeline-content">
                <h3>Community host</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <h4 class="cd-date">Jan 14</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Geodesic dome building</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                <h4 class="cd-date">Jan 24</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Children parents retreat</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <h4 class="cd-date">Feb 14</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section>
</div> 
</div>
        <div class="dotline">
        </div>
</template>

