<template name="Timeline">
            <div class="row top30 bottom15">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center top10">
                        Last impressions
                    </h1>                    
                    <h5 class="text-center top20">
                        The first steps!
                    </h5>
                </div>
            </div>      
    <div class="">
        <div class="context-intention js-timeline">
        </div>
    </div>  
    <div class="dotline">
    </div> 
	<div class="context-collective">
    <div class="container">      
    <section id="cd-timeline">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            
            <div class="cd-timeline-content">
                <h3>Space lab warm-up</h3>
                <p>We will realize a first model of Geodesic Dome for the retreat place. Solar shower and compost toilet for 10-20 people. Feel welcome to join us in this experiment with soft, mobile architecture and sustainable solutions.</p>
                <h4 class="cd-date">8 March - 25 March</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Tribe host</h3>
                <p>We will host a group of 10 pioneers during their 10 days intensive tribe building process. We are happy and honoured to initiate our spring camp for such a beautiful cooperation. We will support each other in creating, manifesting and dreaming enjoying the possibility that creating together another life is possible</p>
                <h4 class="cd-date">21 March - 3 April</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Mindfulness Retreat for adults and children </h3>
                <p>The idea of the retreat is a laboratory space, what means we wish of all participants the joy by exploring the question how we can create a living together that really serves our intention of mutual respect, empathy and love. We invited parents with children between 0 and 6 years. We will be about 15 adults and 6 children. Basic knowledge in empathy and nonviolent communication are very helpful. We will offer two introduction workshops in nonviolent communication before, one especially for parents.</p>
                <h4 class="cd-date">26 April - 8 May</h4>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section>
</div> 
</div>
        <div class="dotline">
        </div>
</template>

