<template name="Manifest">
<!-- Page title -->
<div class="context-manifest">		
	<div class="container">
		<div class="row top17 bottom30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h1 class="text-center top30">
					Alligning our actions with our intentions!
				</h1>
				<h5 class="text-center top20">
					Global change start by inner change		
				</h5>
			</div>
		</div>
		<!-- row -->
		<div>
			<!-- Page illustration -->	
			<div class="top30 bottom50 ">
				<div class="row">
					<div class="col-sm-8">
						<img src="images/manifest.png" class="w100 img-responsive">
					</div>
					<div class="col-sm-4">
						<p class="">
							To design sustainable living spaces we need the right inner-attitude. With this manifest we want to find a common understanding in how we design our inner and outer landscape.</p >
						<!-- row -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- row -->
			</div>		
		</div>
		</div>
			<div class="dotline">
	</div>
	<h1 class="text-center top50 bottom15">Permalab manifesto</h1>
			<!-- Page title -->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 bottom50">
			<div class="top30 bottom30">
				<h2 class="text-center top20">
					Inner landscape	
				</h2>
			</div>				
				<!-- Page accordion -->
				<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne1">
							<h2 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
								Autonomy <small>Facilitation</small> 
								</a>
							</h2>
						</div>
						<div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
							<div class="panel-body">
						We commit to take responsibility for ourself,the children and the community process. 
 There is no Gurus and no Identify Leaders. We want to see us all as free beens that are allow to jump in different roles,and to learn how to support and facilitate the Tribe and the Space where we are living and evolving.
 We want to learn to be aware and to take responsibility for our actions and effects upon the group.
Examples:
Don't step out of communication, even in difficult situations.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
								Intention <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
							<div class="panel-body">
						Intention is the the root of everything. Let us bring more awareness where our actions, thoughts and visions are coming from and how we are sending it in the world. To design means to put clear intention in what we want to build but also how we want to became and change in the future as a individuals and communityrian beings.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
								Presence <small>Reliance, Commitment, autonomy</small>
								</a>
							</h2>
						</div>
						<div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
							<div class="panel-body">
								We encourage and support people by find a path in reconnecting themselves again and again with the own truth. This is the research that stay in the center of the project. Children has the ability to be in the present, let us learn to support them and to bring ourself more and more in the present moment by interacting with people, nature and artifacts.To support a baby an adult or even a plant being present and conscious is the biggest challenge and gift that we can integrate in our daily life. Permalab wants to be a power place for this. 
							</div>
						</div>
					</div><!-- panel -->
										<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
								Integration <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour1">
							<div class="panel-body">
						By making the process transparent we want to give the people the freedom to to find his/her own task by observing and realizing what is best way to support the model, the tribe and themselves. We want here to remember us that integration is a fundamental act of building trust and peace. We wish to build a playground where every plant and every human can find a place to grow and connect with the all organism. Biodiversity is the basement for sustainability.
							</div>
						</div>
					</div>
										<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
								Inner Courage  <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive1">
							<div class="panel-body">
						In our understanding is courage the inner commitment to step again and again on the edge of our limits to observe them and discovery the trasure behind it! We welcome people focus on following the path of inner and outer transformation and in to supporting others in this adventure. “A man with outward courage dares to die; a man with inner courage dares to live.” ― Lao Tzu, Tao Te Ching We commit to develop tools and spaces that support us and others in doing this work joinfully  and playfully.
							</div>
						</div>
					</div>
										<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSix1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1" aria-expanded="false" aria-controls="collapseSix1">
								Gifting <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseSix1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix1">
							<div class="panel-body">
						Gifting does not contemplate an expectation, a return or an exchange for somehting of equal value. It rather creates connection and trust and a conscious awareness about the responsibility and importance of being able to give and receive. We want to step back from the culture of fear ob scarcity and jump in the natural reality of abundance. Lets share authentically what we can gift to the world.
						We want to learn to disattach from ownership - to let artifacts, land, knowledge and ressources free from ownership and to seeing it as a collective tresure. 
							</div>
						</div>
					</div>
										<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSeven1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1" aria-expanded="false" aria-controls="collapseSeven1">
								Vulnerability <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseSeven1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven1">
							<div class="panel-body">
						wo befinden wir uns im Verhältnis zu unseren Grenzgebieten? 
„Wachstumsschmerzen“ umarmen 
aktiv in diese Randzonen Deiner selbst vorzudringen, 
We celebrate the state of failing as an act of self-acceptance and connection with reality.  Allowing ourselves to be seen in a moment of vulnerability open the door of support, unity and inner transformation. 
We commit to share what moves us and touch deeply………falling, losing orientation and trust is a part of the process.
There we want to find solutions how to support each others in growing and overcoming our old structures and believes that want to be transform.
Shwing us vulnerable create the basement for trust and cooperation on all levels our personality.
Examples:
Creates transparency and trust between us. (allow us to support each other) 
Fear, pain and our limits in general are the basic triggers of change. 
							</div>
						</div>
					</div>					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingEight1">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1" aria-expanded="false" aria-controls="collapseEight1">
								Chaos <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseEight1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight1">
							<div class="panel-body">
						Chaos is the space where things that are invisible come on surface. Hidden potentials and energy that are often getting lost or forgotten in structure and habits arise and can bring new undiscovered chances for change. We want to welcome chaos as the fire for transformation and authenticity and we want to learn to work with it!
							</div>
						</div>
					</div>

				</div><!-- panel-group -->
			</div><!-- col -->


			<div class="col-sm-6">
			<div class="top30 bottom30">
				<h2 class="text-center top20">
					Outer landscape			
				</h2>
			</div>				
				<!-- Page accordion -->	
				<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne2">
							<h2 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
								Facilitation <small>Authentic giving and reciving</small> 
								</a>
							</h2>
							
						</div>
						<div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
							<div class="panel-body">
						Slow design reveals spaces and experiences in everyday life that are often missed or forgotten, including the materials and processes that can easily be overlooked in an artifact’s existence or creation.
							</div>
						</div>
					</div>					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo2">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
								Natural gif <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
							<div class="panel-body">
						Our community is committed to a radically participatory ethic. We encourage people to become active participants in the design process, embracing ideas of conviviality and exchange to foster social accountability and enhance communities.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingVor4">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseVor4" aria-expanded="false" aria-controls="collapseTwo2">
								Radical Integration <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVor4">
							<div class="panel-body">
						Our community is committed to a radically participatory ethic. We encourage people to become active participants in the design process, embracing ideas of conviviality and exchange to foster social accountability and enhance communities.
							</div>
						</div>
					</div>					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive5">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
								Awarnes in contact <small>Autonomy, Reliance, Commitment</small>
								</a>
							</h2>
						</div>
						<div id="collapseFive5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive5">
							<div class="panel-body">
						Our community is committed to a radically participatory ethic. We encourage people to become active participants in the design process, embracing ideas of conviviality and exchange to foster social accountability and enhance communities.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree2">
							<h2 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
								Thruthfull communication <small>Mutual support and trust building</small>
								</a>
							</h2>
						</div>
						<div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
							<div class="panel-body">
								We celebrate the state of failing as an act of self-acceptance and connection with reality. Allowing ourselves to be seen in a moment of vulnerability is the first step for making mutual support and trust possible. Fear, pain and our limits in general has to become visible in order to be changed. We want to create an environment that allows us to enjoy and embrace transformation.
							</div>
						</div>
					</div><!-- panel -->
				</div><!-- panel-group -->
			</div><!-- col -->

		</div><!-- row -->
	</div><!-- container -->
	<!-- Headlines -->
	<div class="dotline">
	</div>

		<!-- Forms
			================================================== -->
	<div class="container ">		
		<div class="bs-docs-section">
			<div class="row">
			<div class="col-sm-3">
			</div>
				<div class="col-lg-6 top50">
					<div class="well bs-component">
						<form class="form-horizontal">
							<fieldset>
								<h2 class="text-center">
									Live a feedback	
								</h2>
								<p class="text-center bottom30 top10">
									We want to establish a strong feedback culture, that supports the exchange of knowledge and the optimization of a working process through truthful response.
Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.		
								</p>
								<div class="form-group">
									<div>
										<input type="text" class="form-control" id="inputEmail" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<div>
									</div>
								</div>
								<div class="form-group">
									<div>
										<textarea class="form-control" rows="3" id="textArea"></textarea>
										<span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<button class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="col-sm-3">
			</div>
			</div>
		</div>
	</div>
	<div class="dotline">
	</div>	
</template>