<template name="Manifest">
	<!-- Page title -->
	<div class="context-manifest">		
		<div class="container">
			<div class="row top17">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h1 class="text-center top30">
						The Quest
					</h1>
					<h3 class="text-center">
						How can I align my actions with my intentions?
					</h3>
				</div>
			</div>
			<!-- row -->
			<div>
				<!-- Page illustration -->	
				<div class="bottom50 ">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-6 text-center">
							<p>
								How can I inspire & develop structures that reflect the new paradigm shift into gift economy, emphatic self-responsibility, all leadership and authenticity in love and sexuality? What is a tribe culture that enhances connection & trust. What do I need to transform in myself to get there?
							</p >
							<!-- row -->
						</div>
						<div class="col-sm-3">
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- row -->
			</div>		
		</div>
	</div>
	<div class="dotline">
	</div>
	<!-- Accordi -->
	<!-- Page title -->
	<div class="container">
		<div class="col-sm-3"></div>
			<div class="row">
				<div class="col-sm-12 top15">			
					<!-- Page accordion -->
					<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="false">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne1">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
										Courage <small></small> 
									</a>
								</h2>
							</div>
							<div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
								<div class="panel-body">

									<div class="col-sm-6">
										<ul>
											<li>Facing fears, willing to expand more & more limits</li>
											<li>Allowing chaos & keep facing the transformative power of the unknown</li>
										</ul>
									</div>
									<div class="col-sm-6">
										<iframe width="545" height="315" src="https://www.youtube.com/embed/_oevXkJY-fE" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo1">
								<h2 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
										Trust <small></small>
									</a>
								</h2>
							</div>
							<div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
								<div class="panel-body">
									<ul class="col-sm-6">
										<li>
											Surrendering to what cannot be controlled by diving into the now
										</li>
										<li>
											Integrate diversity as a nourishment for growth
										</li>
									</ul>
									<div class="col-sm-6">
										<iframe width="545" height="315" src="https://www.youtube.com/embed/cWypWe9UAhQ" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>


							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree1">
								<h2 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
										Empathy <small></small>
									</a>
								</h2>
							</div>
							<div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
								<div class="panel-body">
									<ul class="col-sm-6">
										<li>
											Embrace vulnerability as a key to access the power of giving and receive support
										</li>
										<li>
											Allowing to feel the beauty of authentic needs
										</li>
									</ul>
									<div class="col-sm-6">
										<iframe width="545" height="315" src="https://www.youtube.com/embed/elILetNPyr4" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div><!-- panel -->
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour1">
								<h2 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
										Responsability <small></small>
									</a>
								</h2>
							</div>
							<div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour1">
								<div class="panel-body">

									<ul class="col-sm-6">
										<li>
											Manifesting an empathic field where authentic connections can  emerge
										</li>
										<li>
											Celebrating the transformative power of clear requests as the path to reach a joyful fulfillment of global needs
										</li>

									</ul>
									<div class="col-sm-6">
										<iframe width="545" height="315" src="https://www.youtube.com/embed/BRtc-k6dhgs" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFive1">
								<h2 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
										Gift  <small></small>
									</a>
								</h2>
							</div>
							<div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive1">
								<div class="panel-body">
									<div class="col-sm-6">
										<ul>
											<li>Finding the truthful expression of giving without expecting</li>
											<li>Enter the circle of interconnected abundance</li>
										</ul>
									</div>
									<div class="col-sm-6">
										<iframe width="545" height="315" src="https://www.youtube.com/embed/EEZkQv25uEs" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div><!-- panel-group -->
				</div>
		<!-- col 
		<div class="col-sm-12">		
		<div class="bottom30">
			<h1 class="text-center top30">
				Outer research		
			</h1>
		</div>				
			<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="false">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne2">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
							Observation<small> Contemplation, Feeling, Care</small> 
							</a>
						</h2>
						
					</div>
					<div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
						<div class="panel-body">
					We observe the state of the reality and that of  our being, how we feel, how we perceive our surrounding. Before intervene we connect with what is needed inside us and outside us, contemplate in order to design proper and interdependent solutions.
						</div>
					</div>
				</div>					
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
							Transparency <small> Share, Transform, Support</small>
							</a>
						</h2>
					</div>
					<div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
						<div class="panel-body">
					If we want to go far, we go with other people. Sharing our insights, our visions, our dreams and our utopias we allow valuable feedbacks of the group to transform and even destroy our dreams over time. We commit to preserve what is valuable and transform what is no longer needed.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
							Diversity <small> Opportunities, Collective, Evolution</small>
							</a>
						</h2>
					</div>
					<div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
						<div class="panel-body">
					Taking advantage of the opportunity of the diversity (culture, age, background), we surround ourselves with a variety of different possibilities that nourish our evolution and revolution in this world. 
						</div>
					</div>
				</div>					
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2" aria-expanded="true" aria-controls="collapseFour2">
							Presence <small> Corage, Manifestation, Now </small>
							</a>
						</h2>
					</div>
					<div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
						<div class="panel-body">
					We strongly believe that what determines our future are our choices in the present.  Training our being centered we manifest here and now the result of our courage.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive2" aria-expanded="true" aria-controls="collapseFive2">
							Celebration <small> Gift, Art, Fun </small>
							</a>
						</h2>
					</div>
					<div id="collapseFive2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTFive2">
						<div class="panel-body">
							We celebrate our goals as well as our failures. We celebrate the everyday renowned gift of life in tune with the nature. We welcome every form of art expression that bring us new vision to continue the journey. 
						</div>
					</div>
				</div>
			</div>
		</div>
	-->

</div><!-- row -->
</div><!-- container -->

<!-- Headlines -->
<div class="dotline">
</div>
</template>