<template name="Manifest">
<!-- Page title -->
<div class="context-manifest">		
<div class="container">
	<div class="row top17 bottom30">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="text-center top30">
				The challange
			</h1>
			<h5 class="text-center top20">
				Alligning our actions with our intentions!
			</h5>
		</div>
	</div>
	<!-- row -->
	<div>
		<!-- Page illustration -->	
		<div class="top30 bottom50 ">
			<div class="row">
				<div class="col-sm-7">
					<img src="images/manifest.png" class="w100 img-responsive">
				</div>
				<div class="col-sm-5">
					<p class="">
						If we want to leave old habits, beliefs and behaviors behind us, we consciously need to establish new patterns,structures and methods.
						The model, that we propose here, is just a beginning of searching and exploring new solutions. We are really glad about constructive feedbacks!
						We are not following dogmas, therefore open for questioning the status quo and experimenting new ways into the answers.</p >
					<!-- row -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- row -->
		</div>		
	</div>
	</div>
		<div class="dotline">
</div>
<!-- Accordi -->
		<!-- Page title -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">			
			<!-- Page accordion -->
				<h1 class="text-center top30 bottom30">Inner research</h1>
			<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="false">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne1">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
							Integration <small>Trust, acceptance, unknown</small> 
							</a>
						</h2>
					</div>
					<div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
						<div class="panel-body">

            <p class="col-sm-6">
Each one can find his/her own way to support the model, the tribe and themselves.  Integration is an act of building trust in order to welcome the unknown. Taking the risk to face what is different brings us to transform ourselves and helps us in stepping out from the reliance on the comfortable traps of security. Biodiversity is the basement for sustainability.
</p>
<div class="col-sm-6">
<iframe width="545" height="315" src="https://www.youtube.com/embed/cWypWe9UAhQ" frameborder="0" allowfullscreen></iframe>
</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo1">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
							Courage <small>Autonomy, vulnerability, commitment</small>
							</a>
						</h2>
					</div>
					<div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
						<div class="panel-body">
					Courage is the inner commitment to step again and again on the edge of our limits to observe them and discover the treasure behind them! Courage is the door to show our vulnerability and its precious value of resolving conflicts. We welcome people focused on following the path of inner and outer transformation willing to inspire others in this adventure. We commit to develop joyful tools and playful spaces in service of conscious  labs.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree1">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
							Gift <small>Detachment, reliance, abundance</small>
							</a>
						</h2>
					</div>
					<div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
						<div class="panel-body">
							Gifting does not contemplate an expectation, a return or an exchange for something of equal value. It rather creates connection and trust and a conscious awareness about the responsibility and importance of being able to give and receive. We want to step back from the culture of fear or scarcity and jump in the natural reality of abundance. Let’s share authentically what we can gift to the world, detaching from ownership and rely on the care of our collective treasure.
						</div>
					</div>
				</div><!-- panel -->
									<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour1">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
							Emphaty <small>Feelng, the beauty of the needs, requestes</small>
							</a>
						</h2>
					</div>
					<div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour1">
						<div class="panel-body">
					By making the process transparent we want to give the people the freedom to to find his/her own task by observing and realizing what is best way to support the model, the tribe and themselves. We want here to remember us that integration is a fundamental act of building trust and peace. We wish to build a playground where every plant and every human can find a place to grow and connect with the all organism. Biodiversity is the basement for sustainability.
						</div>
					</div>
				</div>
									<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive1">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
							Respons-ability  <small>Autonomy, Reliance, Commitment</small>
							</a>
						</h2>
					</div>
					<div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive1">
						<div class="panel-body">
					In our understanding is courage the inner commitment to step again and again on the edge of our limits to observe them and discovery the trasure behind it! We welcome people focus on following the path of inner and outer transformation and in to supporting others in this adventure. “A man with outward courage dares to die; a man with inner courage dares to live.” ― Lao Tzu, Tao Te Ching We commit to develop tools and spaces that support us and others in doing this work joinfully  and playfully.
						</div>
					</div>
				</div>
			</div><!-- panel-group -->
		</div><!-- col -->
		<div class="col-sm-12">
<!-- Headlines -->			
		<div class="bottom30">
			<h1 class="text-center top30">
				Outer research		
			</h1>
		</div>				
			<!-- Page accordion -->	
			<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="false">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne2">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
							Observation<small> Contemplation, Feeling, Care</small> 
							</a>
						</h2>
						
					</div>
					<div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
						<div class="panel-body">
					We observe the state of the reality and that of  our being, how we feel, how we perceive our surrounding. Before intervene we connect with what is needed inside us and outside us, contemplate in order to design proper and interdependent solutions.
						</div>
					</div>
				</div>					
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
							Transparency <small> Share, Transform, Support</small>
							</a>
						</h2>
					</div>
					<div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
						<div class="panel-body">
					If we want to go far, we go with other people. Sharing our insights, our visions, our dreams and our utopias we allow valuable feedbacks of the group to transform and even destroy our dreams over time. We commit to preserve what is valuable and transform what is no longer needed.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
							Diversity <small> Opportunities, Collective, Evolution</small>
							</a>
						</h2>
					</div>
					<div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
						<div class="panel-body">
					Taking advantage of the opportunity of the diversity (culture, age, background), we surround ourselves with a variety of different possibilities that nourish our evolution and revolution in this world. 
						</div>
					</div>
				</div>					
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2" aria-expanded="true" aria-controls="collapseFour2">
							Presence <small> Corage, Manifestation, Now </small>
							</a>
						</h2>
					</div>
					<div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
						<div class="panel-body">
					We strongly believe that what determines our future are our choices in the present.  Training our being centered we manifest here and now the result of our courage.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive2">
						<h2 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive2" aria-expanded="true" aria-controls="collapseFive2">
							Celebration <small> Gift, Art, Fun </small>
							</a>
						</h2>
					</div>
					<div id="collapseFive2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTFive2">
						<div class="panel-body">
							We celebrate our goals as well as our failures. We celebrate the everyday renowned gift of life in tune with the nature. We welcome every form of art expression that bring us new vision to continue the journey. 
						</div>
					</div>
				</div><!-- panel -->
			</div><!-- panel-group -->
		</div><!-- col -->

	</div><!-- row -->
</div><!-- container -->

<!-- Headlines -->
    <div class="dotline">
    </div>
</template>