<template name="Home">
	<!-- Network collective -->
	<div class="context-collective">		
		<div class="container">
			<div class="row top17 bottom30">
				<div class="col-sm-12 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h1 class="text-center top30">
						A collective for change!
					</h1>
					<h5 class="text-center top20">
						This plattform wants to build a cooperation network for pioneers in Portugal.
					</h5>
				</div>
			</div>
			<!-- row -->
			<div>
				<!-- Page illustration -->	
				<div class="top30 bottom50">
					<div class="row">
						<div class="col-sm-1"></div>

						<div class="col-sm-5">
							<img src="images/collective.png" class="w100 img-responsive">
						</div>
						
						<div class="col-sm-6">
							<p class="">
	                               Permalab is an initiative focused on creating and supporting communities in Portugal. By traveling through different projects and communities we met a lot of people willing to create & support resilient, extraordinary, communitarian life perspectives. This platform wants to support and bring these people together by optimizing the coordination of gatherings, the share of informations and by supporting gift-economy initiatives. 
	                        </p>       
							<h4>If you want be part of it</h4>
							<p class="">
								join the plattform and share it with your followers!
							</p >
							{{#unless currentUser}}
								<a href="{{pathFor '/login'}}" class="btn btn-primary btn-lg">Login</a>
							{{else}}
								<a href="{{pathFor '/invite'}}" class="btn btn-primary btn-lg">Invite someone</a><small> - or - </small><a href="{{pathFor '/profile'}}" class="btn btn-primary btn-lg">Edit your profile</a><small> - or - </small><a href="{{pathFor '/logout'}}" class="btn btn-primary btn-lg">logout</a>
							{{/unless}}
							{{!--
							<div>
								<small> -Your private data will only be visibile from logged users!</small>
							</div>
							--}}
							<!-- row -->
						</div>
					</div>
					<!-- row -->
				</div>

			<!-- row -->
			</div>

		</div>
	</div>   	
	<div class="dotline"></div>
	{{> Users}}
	<div class="dotline"></div>
	<div class="context-collective">
	<div class="container">		
		<div class="bs-docs-section">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<div class="top30 bottom70">
						<h2 class="text-center">
							Leave a feedback	
						</h2>
						<p class="text-center bottom30 top10">
							We want to establish a strong feedback culture, that supports the exchange of knowledge and the optimization of a working process through truthful response. Therefore we invite you to write us a message, a thought, a question, an idea or anything that moves you. <a href="mailto:&#119;&#101;&#064;&#112;&#101;&#114;&#109;&#097;&#108;&#097;&#098;&#046;&#101;&#117;" target="_blank">&#119;&#101;&#064;&#112;&#101;&#114;&#109;&#097;&#108;&#097;&#098;&#046;&#101;&#117;</a>
						</p>
					</div>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
	</div>
	</div>
	
	<div class="dotline"></div>	

</template>