<template name="Feedback">
    <div class="context-default">
        <div class="container">
            <div class="col-sm-3 top30 bottom30">
            </div>
            <div class="col-lg-6 top30 bottom30">
                <p>
We support the exchange of knowledge and the optimization of any working process through truthful sharing.
Feel free to contact us for more information & valuable feedback!
 </p>
 <a href="mailto:mz@permalab.eu?Subject=Hello%20again" class="btn btn-primary btn-lg">Send Mail</a>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</template>