<template name="Feedback">
            <div class="context-collective">
                <div class="container">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6 top30 bottom30">
We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you. 
                        <a href="">collective@permalab.eu</a>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
</template>