<template name="Header">
    <!-- Pre Navigation -->
    <div class="context-default">
        <div id="pre-navbar" class="container">
            {{#if isActivePath regex='^/$'}}
                {{> Logo}}
            {{else}}
                <a href="/">{{> Logo}}</a>
            {{/if}}
        </div><!-- container -->
    </div>
<div class="dotline"></div>
</template>
<template name="Logo">
    <div class="row top17 bottom30">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <img src="/images/logo.svg" class="img-responsive w80 top17">
                </div>
            </div><!-- row -->
            <h5 class="text-center top10">
                Design models for sustainable living solutions
            </h5>
        </div>
        <div class="hidden-xs hidden-sm col-md-2">
            <img src="/images/still_in.svg" class="img-responsive w100 top17">
        </div>
    </div><!-- row -->
</template>