<template name="Collective">
	<!-- Network collective -->
 <div class="context-collective">    
	<div class="container">
        <div class="row top17 bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                   Connect with us and join the collective!
                </h1>
            </div>
        </div>
        <div class="top30 bottom30">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30 text-center">
                            Guest
                        </h3>
                        <p class="">
                            Receive information about the labs and workshops activities that happens.
                        </p>
                    </div>                      
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30 text-center">
                            Supporter
                        </h3>
                        <p class="">
                            Bring the gift of your knowledge, experience, resources in service of the transition is a new culture. 
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30 text-center">
                            Labmaker
                        </h3>
                        <p class="">
                            Design and facilitate spaces & experiences. Take the challage to interconnet them with the already existing laboratories.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30 text-center">
                            Spaceholder
                        </h3>
                        <p class="">
                        Being present on the land and integrate the people and gifts that comes. Align the emerging needs, ideas and initiatives in an harmonic symphonie of cocreation.
                        </p>
                    </div>                                              
                </div>
                <!-- row -->
            </div>
	</div>
</div>

	<div class="dotline"></div>

	<div class="container">
		<!-- row -->
		<div class="col-lg-12 top15 bottom30">
				{{> Users type='core' title='Spaceholders'}}

				{{> Users type='transition' title='Labmakers'}}

				{{> Users type='support' title='Supporters'}}

				{{> Users type='guests' title='Guests'}}
<!--
			<div class="col-lg-3">
				<div class="bs-component">
					<h3>Circles</h3>
					<div class="list-group">
						<a href="#" class="list-group-item">Core
							<span class="badge">3</span>
						</a>
						<a href="#" class="list-group-item">Transitioners
							<span class="badge">15</span>
						</a>
						<a href="#" class="list-group-item">Supporter
							<span class="badge">20</span>
						</a>
						<a href="#" class="list-group-item">Guest
							<span class="badge">10</span>
						</a>
						<a href="#" class="list-group-item">Partners
							<span class="badge">5</span>
						</a>
					</div>
				</div>	
				<div class="bs-component">
					<h3>Activ in:</h3>
					<div class="list-group">
						<a href="#" class="list-group-item active context-collective" id="scenarioDesign">
							Scenario design 
							<span class="badge">3</span>
						</a>
						<a href="#" class="list-group-item" id="eventDesign">
							Event design
							<span class="badge">20</span>
						</a>
						<a href="#" class="list-group-item" id="softArchitecture">
							Soft Architecture
							<span class="badge">3</span>
						</a>
						<a href="#" class="list-group-item" id="permacultureDesign">	
							Permaculture Design
							<span class="badge">10</span>
						</a>
						<a href="#" class="list-group-item" id="solarEcoLowTec">
							Solar/Eco Low-Tec
							<span class="badge">2</span>
						</a>
						<a href="#" class="list-group-item" id="education">
							Education
							<span class="badge">5</span>
						</a>
						<a href="#" class="list-group-item" id="facilitator">
							Facilitator
							<span class="badge">5</span>
						</a>
					</div>
				</div>
				<div class="bs-component">
					<h3>Status</h3>
					<div class="list-group">
						<a href="#" class="list-group-item">Online
							<span class="badge">20</span>
						</a>
						<a href="#" class="list-group-item">Analoge
							<span class="badge">20</span>
						</a>	
						<a href="#" class="list-group-item">Nomadic
							<span class="badge">3</span>
						</a>
						<a href="#" class="list-group-item">Stationare
							<span class="badge">10</span>
						</a>
						<a href="#" class="list-group-item">With children
							<span class="badge">2</span>
						</a>
					</div>
				</div>
			</div>	
		-->	
	</div>	
</div>	

<div class="dotline top30">
</div>
</template>