<template name="Collective">
<!-- Network collective -->
<div class="context-collective">		
	<div class="container">
		<div class="row top17 bottom30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h1 class="text-center top30">
					A nomad collective for change!
				</h1>
				<h5 class="text-center top20">
					Converge our abilities for change!		
				</h5>
			</div>
		</div>
		<!-- row -->
		<div>
			<!-- Page illustration -->	
			<div class="top30 bottom50">
				<div class="row">
						<div class="col-sm-1">
						</div>
					<div class="col-sm-5">
						<img src="images/collective.png" class="w100 img-responsive">
					</div>
					<div class="col-sm-6">
						<p class="">
                                We are a group of social pioneers dedicated to creating and becoming the change that facilitates personal, social and global breakthroughs. To many of us, it seems that the world is at a momentous tipping point, one where the global ecology and culture are reaching a crisis point where they will either breakdown or breakthrough.
    At times like these, small groups can have influence far beyond their size. A radical shift in thinking and living needs to take place – starting from ourselves we put us in service to support global changes. 
							<h4>If you want be part of it</h4>
							<p class="">
								join the plattform and feel you invited to meet us in real life!
							</p >
							<a href="#" class="btn btn-primary btn-lg">Login</a>
							<small>- or -</small>
							<a href="#" class="btn btn-primary btn-lg">Signup</a>
							<div><small> -Your private data will only be visibile from logged users!</small>
								</div>
								</p>
						<!-- row -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- row -->
			</div>		
		</div>
	</div>

	<div class="dotline"></div>

	<div class="container">

		<div class="row bottom30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h2 class="text-center top30">
					Interdisciplinarity for change	
				</h2>
				<h5 class="text-center top20">
					Holistic design & facilitation	
				</h5>
			</div>
		</div>

		<!-- row -->
		<div class="top30 bottom70">
			{{> Users type='core' title='The core team'}}
			{{> Users type='transition' title='Transitioner'}}
			{{> Users type='support' title='Supporters'}}
			{{> Users type='guests' title='Guests'}}
		{{!--
		<div class="col-lg-3">
			<div class="bs-component">
				<h3>Circles</h3>
				<div class="list-group">
					<a href="#" class="list-group-item">Core
						<span class="badge">3</span>
					</a>
					<a href="#" class="list-group-item">Transitioners
						<span class="badge">15</span>
					</a>
					<a href="#" class="list-group-item">Supporter
						<span class="badge">20</span>
					</a>
					<a href="#" class="list-group-item">Guest
						<span class="badge">10</span>
					</a>
					<a href="#" class="list-group-item">Partners
						<span class="badge">5</span>
					</a>
				</div>
			</div>	
			<div class="bs-component">
				<h3>Activ in:</h3>
				<div class="list-group">
					<a href="#" class="list-group-item active context-collective" id="scenarioDesign">
						Scenario design 
						<span class="badge">3</span>
					</a>
					<a href="#" class="list-group-item" id="eventDesign">
						Event design
						<span class="badge">20</span>
					</a>
					<a href="#" class="list-group-item" id="softArchitecture">
						Soft Architecture
						<span class="badge">3</span>
					</a>
					<a href="#" class="list-group-item" id="permacultureDesign">	
						Permaculture Design
						<span class="badge">10</span>
					</a>
					<a href="#" class="list-group-item" id="solarEcoLowTec">
						Solar/Eco Low-Tec
						<span class="badge">2</span>
					</a>
					<a href="#" class="list-group-item" id="education">
						Education
						<span class="badge">5</span>
					</a>
					<a href="#" class="list-group-item" id="facilitator">
						Facilitator
						<span class="badge">5</span>
					</a>
				</div>
			</div>
			<div class="bs-component">
				<h3>Status</h3>
				<div class="list-group">
					<a href="#" class="list-group-item">Online
						<span class="badge">20</span>
					</a>
					<a href="#" class="list-group-item">Analoge
						<span class="badge">20</span>
					</a>	
					<a href="#" class="list-group-item">Nomadic
						<span class="badge">3</span>
					</a>
					<a href="#" class="list-group-item">Stationare
						<span class="badge">10</span>
					</a>
					<a href="#" class="list-group-item">With children
						<span class="badge">2</span>
					</a>
				</div>
			</div>
		</div>		
		--}}
		<!-- row -->
		</div>	
	</div>		
	<div class="dotline top30">
	</div>
		<!-- Forms ================================================== -->
	<div class="container ">		
		<div class="bs-docs-section">
			<div class="row">
			<div class="col-sm-3">
			</div>
				<div class="col-lg-6">
					<div class="well bs-component">
						<form class="form-horizontal">
							<fieldset>
								<h2 class="text-center">
									Live a feedback	
								</h2>
								<p class="text-center bottom30 top10">
									We want to establish a strong feedback culture, that supports the exchange of knowledge and the optimization of a working process through truthful response.
Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.		
								</p>
								<div class="form-group">
									<div>
										<input type="text" class="form-control" id="inputEmail" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<div>
									</div>
								</div>
								<div class="form-group">
									<div>
										<textarea class="form-control" rows="3" id="textArea"></textarea>
										<span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<button class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="col-sm-3">
			</div>
			</div>
		</div>
	</div>
	<div class="dotline">
	</div>	


</template>