<template name="Signup">
	<div class="container">
        <div class="top30 bottom30">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Stay connected
                        </h3>
                        <p class="">
                            Receive information about the labs and workshops activities that happens.
                        </p>
                    </div>                      
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Support the model
                        </h3>
                        <p class="">
                            You are welcome to support us in any way. As a guest, as a financial supporter or 
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Realizing a Lab
                        </h3>
                        <p class="">
                            - be present on the land for at least 1 Month!
- take part of the design Process of Permalab!
- design & facilitate your Lab!
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Join the tribe
                        </h3>
                        <p class="">
- take part on the tribe building process ( 3 weeks in the year ) !
- design & facilitate a Lab in the year with the tribe!
- became facilitator and visionary for the design Process of Permalab!
                        </p>
                    </div>                                              
                </div>
                <!-- row -->
            </div>
		{{> atForm state="signUp"}}
	</div>
</template>