<template name="Signup">
   <div class="context-collective">    
	<div class="container">
        <div class="row top17 bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    Support us and join the collective!
                </h1>
                <h5 class="text-center top20">
                    Global change start by inner change     
                </h5>
            </div>
        </div>
        <div class="top30 bottom30">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Stay connected
                        </h3>
                        <p class="">
                            Receive information about the labs and workshops activities that happens.
                        </p>
                    </div>                      
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Support the model
                        </h3>
                        <p class="">
                            You are welcome to support us in any way. As a guest, as a financial supporter or 
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Realizing a Lab
                        </h3>
                        <p class="">
                            - be present on the land for at least 1 Month!
- take part of the design Process of Permalab!
- design & facilitate your Lab!
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="images/user.svg" class="w100 img-responsive">
                        <h3 class="top30">
                            Join the tribe
                        </h3>
                        <p class="">
- take part on the tribe building process ( 3 weeks in the year ) !
- design & facilitate a Lab in the year with the tribe!
- became facilitator and visionary for the design Process of Permalab!
                        </p>
                    </div>                                              
                </div>
                <!-- row -->
            </div>
	</div>
</div>
<div class="container">
<div class="col-sm-2"></div>
    <div class="col-sm-8">
      {{> atForm state="signUp"}} 
    </div>  
</div>
        <div class="dotline">
        </div>

            <!-- Forms
                ================================================== -->
        <div class="container top30">        
            <div class="bs-docs-section">
                <div class="row">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6">
                        <div class="well bs-component">
                            <form class="form-horizontal">
                                <fieldset>
                                    <h2 class="text-center">
                                        Leave some feedback 
                                    </h2>
                                    <p class="text-center bottom30 top10">
                                        We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                    </p>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                                            <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
    </div>
</template>