<template name="Mainheader">
    <h1 class="text-center top30">
        A laboratory for sustainable living solutions
    </h1>
</template>
<template name="Intention">
    <!-- The intention -->
    <div class="context-intention">
        <div class="container">
            <div class="row top30 bottom70">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    {{> Mainheader}}
                    <h5 class="text-center top20">
                        We design a research center and living place in Portugal made alive by a group of pioneers, adventurers, activists and dreamers.    
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom50">
                    <div class="row">
                        <div class="col-sm-7">
                            <img src="images/labora.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-5">
                    <p>
                    Permalab is a permanent laboratory in a 20ha valley in south Portugal created to enhance inner and outer transformation. In everyday life we experiment with tools and methods to empower individuals and reinforce trust while working on solutions for a life in cooperation with nature.</p>

                    <p class="top10">It is a coworking place and playground for holistic design that provides a safe place for experiments, retreats and education for different generations and cultures.</p>
                                <a href="#" class="btn btn-primary btn-lg">Read more</a>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
                <div class="dotline"> 
            </div>


    <!-- Small containers -->
    <div class="container top30">
        <div class="row bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    The spaces
                </h1>
                    <h5 class="text-center top20">
                        Reseraching & integrating new solutions for inner and outer landscapes in everyday communitarian life! 
                    </h5>                
            </div>
        </div>
        <div class="col-sm-6">
            <a class="activebox" href="#">
                <h2 class="bottom10">
                    Lab Playground 
                </h2>
                <p class="">
    We are welcoming designers, researchers, facilitators and artists to open shortterm and longterm laboratories as modules for a sustainable living model. It’s a space for action and experimentation in contact with the material world and the cooperation with nature. If you want to see your ideas integrated in a permanent culture, we offer you a container with design facilitations, team & community building spaces and a on going community life.
    </p>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="activebox" href="#">
                <h2 class="bottom10">
                    Retreat Space
                </h2>
                <p class="">
                 
                </p>
                <p class="text-center top20">                                                   
                                                We deliver a part of the land for silent contact with people, nature and ourself. We invite people to take care of this space and to contribute in renforcing it with awarness and care. We see this place as the asharam for intuitions, invisible energy, creativity, senses and spirituality out of a structured world. 
                                                We see this space also as training place for adults for became more aware about our contact with eachother and expecially our contact with children.
                </p>
            </a>
        </div>      
    </div>

     <!-- Slider -->
    <div class="container top30 bottom70 hidden-xs">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
     <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-sm-4 col-md-offset-2">
                  <img src="images/childrencare.png" class="w100">
                </div>
                <div class="col-sm-7 col-md-4">
                  <h2 class="bottom15">Children Republic</h2>
                  <p class="bottom15">
                    We see children care as the ability of adults to integrate themself in the life of the children and the creation of spaces and a life rytem that allows them to feel welcome as an equal member of the tribe.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-4 col-md-offset-2">
                  <img src="images/humancare.png" class="w100">
                </div>
                <div class="col-sm-7 col-md-4">
                  <h2 class="bottom15">Human care</h2>
                  <p class="bottom15">
                    From the early beginning we want to establish channels that allows people and projects to interact truthfully with the project and with each other. We want to study and research the principles that make biotops and communities authentic & resilient.
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-4 col-md-offset-2">
                  <img src="images/fairshare.png" class="w100">
                </div>
                <div class="col-sm-7 col-md-4">
                  <h2 class="bottom15">Fair share</h2>
                  <p class="bottom15">
                    We see gift economy as an act of becoming aware about our ability to give and receive and the recollocation of our values into the metology of exchanging resources and energy.
                    We ask for your support to create a place wehre we can come in balance again!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-4 col-md-offset-2">
                  <img src="images/naturecare.png" class="w100">
                </div>
                <div class="col-sm-7 col-md-4">
                  <h2 class="bottom15">Nature care</h2>
                  <p class="bottom15">
                    By regenerating the soil, developing sustainable watercycle systems and preserving natural regeneration cycles we create the base to develope a stable, selfregulated biotop as the manifestation of what we want to see in the world!
                  </p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
            </div><!-- row -->      <div class="carousel-caption">
          </div>
        </div>    
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
        <div class="dotline">
        </div>
    <!-- Network collective -->
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center">
                        Intentional community    
                    </h1>
                    <h5 class="text-center top20">
                        We commit to take care of the people the nature and the process of cocreation!
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="bottom70">
                    <div class="row">
                        <div class="col-sm-7">
                            <img src="images/circle.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-5">
                            <p class="">
                                <p class="">
                                There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy for detaching from our personal history and habits and opening towords a self-responsible life. From privatisation to communal space, form power monopolies to shared leadership, from family to tribe, from commercial to gift-relations. Designing our reality from scratch will be a process of rediscovering our deepest desires and potentials.
                                </p >
                                <h4>If you want to be part of it</h4>
                                <p class="">
                                    join the plattform and soon we will invite you to meet us in real life!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                                </p>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
        <div class="dotline">
        </div>
    <!-- Small containers -->
    <div class="container top30 bottom70">
        <div class="row bottom70">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
                <h1 class="text-center bottom10 top30">
                    The Location   
                </h1>
                <p class="text-center top20">           
                    We decided to find land in portugal. It is a region that is strongly connected with the natural forces of water, sun, air and earth. It is also far away from industrial and commercial centers and is on the line between desertification and potential paradise. Healing the land from former exploitation is our inspiration for inner work and the best way to reconnect with nature.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="activebox">
                 <h2 class="bottom10">
                    The land
                </h2>
                <p class="">
                    The land belongs to a non-profit organisation and it will never again be used as a space for speculation or natural exploitation. It is 20 minutes from the ocean and near other interesting international projects. It can host 20-50 people and have a variety of shapes and microzones. 
               </p>
            </div>
            <div class="activebox">
                 <h2 class="bottom10">
                    The glocal Network
                </h2>
                <p class="">
                    We are not alone. Here in Portugal we found many projects with similar intentions. We want to contribute to create a healthy economy based on a sensible way of sharing resources and knowledge. If you want to join as a Project Partner feel free to contact us!
               </p>
            </div>            
        </div>
        <div class="col-sm-6">
            <img src="images/mapland.png" class="w100 img-responsive">
        </div>              
    </div> 
        <div class="dotline">
        </div>
            <!-- Page title -->
    <div class="context-manifest">      
        <div class="container">
            <div class="row top17 bottom30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center top30">
                        The Manifest
                    </h1>
                    <h5 class="text-center top20">
                        Global change is inner change       
                    </h5>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="top30 bottom70 ">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-7">
                            <img src="images/manifest.png" class="w100 img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <p class="">
                                To design sustainable living spaces we need the right inner attitude. With this manifest we design a map of learning fields. The wish is to remind us what is the focus for inner and outer change and to attract the people who want to do similar work.                        </p >
                                <h4>If you want to co-design the manifest</h4>
                                <p class="">
                                    please give your voice a face and a name. We will integrate your proposal as soon as possible!
                                </p >
                                <a href="#" class="btn btn-primary btn-lg">Login</a>
                                <small>- or -</small>
                                <a href="#" class="btn btn-primary btn-lg">Signup</a>
                                <div><small> -Your private data will be visibile only from logged users!</small>
                                    </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
                </div>      
            </div>
            </div>
        <div class="dotline">
        </div>

            <!-- Forms
                ================================================== -->
        <div class="container top30">        
            <div class="bs-docs-section">
                <div class="row">
                <div class="col-sm-3">
                </div>
                    <div class="col-lg-6">
                        <div class="well bs-component">
                            <form class="form-horizontal">
                                <fieldset>
                                    <h2 class="text-center">
                                        Leave some feedback 
                                    </h2>
                                    <p class="text-center bottom30 top10">
                                        We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
    Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                    </p>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                                            <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                </div>
                </div>
            </div>
    </div>
    <div class="dotline"></div>
</template>