<template name="Mainheader">
    <h1 class="text-center top30">
        A research center for pioneers, transitioners & activists.
    </h1>
</template>
<template name="Intention">
    <!-- The intention -->
    <div class="context-picture">
        <div class="container">
            <div class="row top30 bottom400">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    {{> Mainheader}}
                    <h5 class="text-center top20">
                        A permanent laboratory in a 20ha valley in south of Portugal, a safe place for inner and outer transformation, a bridge between urban jungle and realignment with natural cicles.
                    </h5>
                </div>
            </div>
            <!-- row -->    
        </div>
    </div>
    <div class="dotline"> 
    </div>


    <!-- Small containers -->
    <div class="container top30">
        <div class="col-sm-6 bottom50">
            <div class="freebox">
                <h2 class="bottom10">
                    Solution playground
                </h2>
                <p class="">
                    We are welcoming designers, researchers, facilitators and artists to open shortterm and longterm laboratories as modules for a sustainable living model. It’s a coworking space a living landscape and harbor for nomadic change-makers.
                </p>
            </div>
        </div>
        <div class="col-sm-6 bottom50">
            <div class="freebox">
                <h2 class="bottom10">
                    Retreat space
                </h2>
                <p class="">

                </p>
                <p class="text-center top20">                                                   
                    We deliver a part of the land for silent contact with people, nature and ourselves. We invite people to slow down and reconnect. We see this place as the ashram for intuitions, invisible energy, art, senses and timeless out of a structured world.
                </p>
            </div>           
        </div>      
    </div>

    <div class="dotline">
    </div>
    <div class="context-collective">        
        <div class="container">
            <div class="row top17 bottom30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center top30">
                        The collective
                    </h1>
                </div>
            </div>
            <!-- row -->
            <div>
                <!-- Page illustration -->  
                <div class="top30 bottom50">
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="images/collective.png" class="w100 img-responsive">
                        </div>
                         <div class="col-sm-1">
                        </div>
                        <div class="col-sm-6">
                            <p class="top70">
                                To many of us, it seems that the world is at a momentous tipping point, one where the global ecology and culture are reaching a crisis point where they will either breakdown or breakthrough.
                                At times like these, small groups can have influence far beyond their size. A radical shift in thinking and living needs to take place – starting from ourselves we put us in service to support global changes. 
                            </p>
                            <a href="{{pathFor '/collective'}}" class="btn btn-primary btn-lg">The collective</a>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- row -->
            </div>      
        </div>
    </div>
    <!-- Network collective
    <div class="context-collective">        
        <div class="container">
            <div class="row top30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="text-center bottom30">
                     The collective
                 </h1>
             </div>
         </div>
         <div>
            <div class="bottom70">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                            <img src="images/julia.jpg" class="w15 img-responsive img-thumbnail-circle img-thumbnail ">
                        </div>                          
                    </div>
                    <div class="col-sm-6">
                        <p class="">
                            <p class="">
                               We are still a little tribe of pioneers that sitting in the fire of diversity is challenging the bet to arise consciousness and self empowerment through a deep honest acceptance of our vulnerability. Different countries, different cultures, different backgrounds, different stories but with the same aim: co create together the golden net that unify Human Beings in the rebalancing dance with Nature. 
                           </p >                            
                           <a href="{{pathFor '/collective'}}" class="btn btn-primary btn-lg">The collective</a>
                       </p>

                   </div>
               </div>

           </div>

       </div>      
   </div>
</div>
-->
<div class="dotline">
</div>
<!-- Small containers -->
<div class="container top30 bottom70">
    <div class="row bottom70">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 context-default">
            <h1 class="text-center bottom10 top30">
                The Location   
            </h1>
            <p class="text-center top20">           
                The southern region  of Portugal: Alentejo, strongly connected with a powerfull expression of the natural forces of the Ocean, the hot sun, the strong wind and the reddish earth. Far away from industrial and commercial centers and with a clear need of care and love. Our inner call is to reconnect with these forces, stopping the process of desertification and developing a self sustainable biotype that provides an inspiring model for future generations.
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="freebox">
           <h2 class="bottom10">
            The Land
        </h2>
        <p class="">
            The property belongs to a non-profit organisation and it will never again be used as a space for speculation or natural exploitation. It is 20 minutes far from the ocean and near other interesting international projects. It can host 20-40 people and have a variety of shapes and microzones. 
        </p>
    </div>
    <div class="freebox">
       <h2 class="bottom10">
        The local Network
    </h2>
    <p class="">
        We are not alone. Here in Portugal we found many projects with similar intentions. We want to contribute to create a healthy economy based on a sensible way of sharing resources and knowledge. If you want to join as a Project Partner feel free to contact us!
    </p>
</div>            
</div>
<div class="col-sm-6 top10">
    <img src="images/mapping.png" class="w100 img-responsive">
</div>              
</div> 
<div class="dotline">
</div>
<!-- Page title -->
<div class="context-manifest">      
    <div class="container">
        <div class="row top17 bottom30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center top30">
                    The challenge
                </h1>
            </div>
        </div>
        <!-- row -->
        <div>
            <!-- Page illustration -->  
            <div class="top30 bottom70 ">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="images/manifest.png" class="w100 img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>
                            There are no ready recipes for building new ways of living together. However, working on a model is for us a strategy to detach from our personal history and habits and to open ourselves towards the global community. We develope a mutual manifest to set a focus on our research and training for the first year!   
                        </p >
                        <a href="{{pathFor '/manifest'}}" class="btn btn-primary btn-lg">The Quest</a>
                        <!-- row -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- row -->
        </div>      
    </div>
</div>
<!--
<div class="dotline">
</div>
            <div class="container top30">        
                <div class="bs-docs-section">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-lg-6">
                            <div class="well bs-component">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <h2 class="text-center">
                                            Leave some feedback 
                                        </h2>
                                        <p class="text-center bottom30 top10">
                                            We want to establish a strong feedback culture that supports the exchange of knowledge and the optimization of any working process through truthful exchange.
                                            Therefore we invite you to leave a message, a thought, a question,  an idea or anything that moves you.     
                                        </p>
                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <textarea class="form-control" rows="3" id="textArea"></textarea>
                                                <span class="help-block text-center">Please do the work to express your feedback in a constructive way</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <button class="btn btn-default">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="dotline"></div>
        </template>